@tailwind base;
@tailwind components;
@tailwind utilities;

.styled-table {
  border: 1px solid black;
  border-collapse: collapse;
}

.styled-table th,
.styled-table td {
  border: 1px solid black;
  padding: 8px;
}